/*
      试题分类样式
*/
.quetion-wrap{
    width: 100%;
    border-radius: 5px;
    background: #fff;
    height: 100%;
}
.question-content{
    width: 100%;
    height: 600px;
    background: #efefef;
    padding: 20px;
    
}
.cont-tablt{
    background: #fff;
    margin-top: 20px;
}
.cont-tablt td{
      height: 50px;
}
.question-cont{
    padding: 20px;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 15px;
}
.ant-btn-primary{
    width: 160px;
    height: 40px;
    background: blue;
}
.btn{
    margin-bottom: 10px;
}
.ant-modal-title{
    text-align: center;
}
.ant-modal-content{
    height: 260px;
}
.ant-modal-footer{
    margin-top: 30px;
    text-align: center;
    border: none;
}
.ant-modal-body,.ant-modal-header{
    border: none;
}
.style_ipt{
    height: 50px;
    width: 70%;
    border:none;
    outline: none;
    border-bottom:1px solid #ccc;
}
.ipt_wraper{
    height: 50px;
    text-align: center;
}
.title{
    padding: 30px 0;
}
.mask{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: fixed;
    left:0;
    top:0;
}
.mask .mask-div{
    width: 500px;
    height: 500px;
    margin-left: 50%;
    transform: translate(-50%);
    background: #fff;
    margin-top: 10%;
}
.mask .mask-div p{
    padding-top: 40px;
}
.mask .mask-div #mask-cancel{
    width: 150px;
    height: 44px;
    margin-left: 93px;
    color:#fff;
    background: #0139FD !important;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.mask .mask-div #mask-submit{
    width: 150px;
    height: 44px;
    margin-left: 15px;
    color:#fff;
    background: #0139FD !important;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.mask .mask-div #mask-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
.inp{
    width: 175px;
    height: 40px;
    border-radius: 5px;
}
#classNumber{
    width: 175px;
    height: 40px;
    border-radius: 5px;
}
#curriculumName{
    width: 175px;
    height: 40px;
    border-radius: 5px;
}
.mask-div{
    padding: 50px;
}