.questions_wrap{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column;
}
.search{
    height: 100px;
    background: #fff;
    border-radius: 8px;
}
.questions_title{
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}
.questions_cont{
    margin-top: 30px;
    background: #fff;
    border-radius: 8px;
    height: 600px;
    padding: 15px;
    display: flex;
    flex-flow: column;
}
.box{
    justify-content: space-between;
    height: 50px;
}
.ant-btn{
  height: 35px;
}